<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<!-- 
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:sec="http://www.springframework.org/security/tags"
 -->

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</f:facet>

	<title><ui:insert name="titulo">Blog </ui:insert></title>

	<h:outputStylesheet library="ccti" name="styles/sistema.css" />
	<h:outputStylesheet library="ccti" name="styles/custom.css" />
	<h:outputStylesheet library="ccti" name="styles/layout.css" />
	<h:outputStylesheet library="ccti" name="styles/components.css" />

	<h:outputScript target="body" library="ccti"
		name="javascripts/jquery.maskMoney.js" />

	<h:outputScript target="body" library="ccti" name="javascripts/app.js" />

	<h:outputScript target="body" library="primefaces"
		name="jquery/jquery.js" />

</h:head>

<h:body>


	<header class="aw-topbar">
		<h:graphicImage library="ccti" name="images/logo.png" height="30"
			onclick="document.location.href='//'" />

		<a href="#" class="aw-toggle  js-toggle"><i class="fa  fa-bars"></i></a>
	
		<div style="float: right; margin-right: 10px">
			<p:outputPanel
				style="float: left; height: 50px; line-height: 50px; margin-right: 30px; color: #fff; text-decoration: none">
				<h:panelGroup rendered="#{seguranca.usuarioLogado ne null}">
					<span> Olá #{seguranca.nomeUsuario}! </span>
				</h:panelGroup>

				<h:link value="Entrar" outcome="/Login" style="text-decoration: none; color: #fff"
					rendered="#{seguranca.usuarioLogado eq null}" />
			</p:outputPanel>
		</div>

		<!-- 		<div class="authorization-div"> -->
		<!-- 			<sec:authorize access="hasRole('ROLE_CLIENTES')"> -->
		<!-- 				<p:outputLabel value="You have the USER role" /> -->
		<!-- 			</sec:authorize> -->
		<!-- 			<sec:authorize access="hasRole('ROLE_ADMINISTRADORES')"> -->
		<!-- 				<p:outputLabel value="You have the ADMIN role" /> -->
		<!-- 			</sec:authorize> -->
		<!-- 		</div> -->


	</header>

	<aside class="aw-sidebar  js-sidebar">
		<ui:include src="Menu.xhtml" />
	</aside>

	<section class="aw-content  js-content">
		<p:messages autoUpdate="true" globalOnly="true" closable="true"
			for="messages" />

		<ui:insert name="content" />
	</section>

	<section class="aw-footer">

		<ui:insert name="footer" />
		<footer>
			<p:separator style="margin: 20px 20px; display: block" />
			<h4 style="text-align: right">
				<i class="fa fa-registered" /> 2018 CCTI. All rights reserved.
			</h4>

		</footer>

	</section>

</h:body>

</html>