<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<!-- https://www.codenotfound.com/jsf-primefaces-spring-security-example.html -->

	<nav class="aw-menu">
		<ul>
			<li><h:link outcome="/Dashboard">
					<i class="fa  fa-fw  fa-home"></i>Dashboard</h:link></li>

			<li><h:link outcome="/paginas/noticia/CadastroNoticia">
					<i class="fa  fa-fw  fa-cog"></i>Noticias</h:link></li>

			<li><h:link outcome="/paginas/categoria/CadastroCategoria"
					rendered="#{seguranca.emitirPedidoPermitido}">
					<i class="fa  fa-fw  fa-cog"></i>Categorias</h:link></li>


			<li><h:link outcome="/paginas/cliente/CadastroCliente"
					rendered="#{seguranca.emitirPedidoPermitido}">
					<i class="fa  fa-fw  fa-cog"></i>Clientes</h:link></li>

			<li><h:link outcome="/paginas/usuario/CadastroUsuario"
					rendered="#{seguranca.emitirPedidoPermitido}">
					<i class="fa  fa-fw  fa-cog"></i>Usuarios</h:link></li>


			<li><h:link outcome="/Blank"
					rendered="#{seguranca.usuarioLogado ne null}">
					<i class="fa  fa-fw  fa-user"></i>Minha Conta</h:link></li>
			<li><p:link href="/logout"
					rendered="#{seguranca.usuarioLogado ne null}">
					<i class="fa  fa-fw  fa-stop"></i>Sair</p:link></li>
		</ul>
	</nav>

	
</ui:composition>