@charset "utf-8";

/* BASE */
html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/** ------------------------------------------
html, body {
	background-image:
		url(#{facesContext.externalContext.request.contextPath}/resources/ccti/images/background.png);
	background-repeat: no-repeat;
	
}
*/
 

body {
	position: relative; 
	margin : 0; 
	padding-bottom : 6rem; 
	min-height : 100%;
	font-size: 13px;
	font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #333 !important;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 90%;
}

header > div {
	margin-left: 8px
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 500;
	margin: 5px 10px;
	padding: 0px;
}

p {
	font-size: 14px !important;
}

#login-dialog {
	width: 550px;
	margin: 20% auto 20%;	
}

.grid-login {
	background-color: #e2e2e2;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 20px 10px;
}

.rounded-corner {
border-radius: 35px;
}

.rotulo {
	width: 150px
}

.ui-panelgrid td {
	height: 34px
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px
}


.ui-growl {
	z-index: 999999 !important;
    top: 60px !important;
    right: 15px !important;    
}

.ui-toolbar {
	margin: 5px 5px !important;	
}

.ui-fieldset {
	margin: 1px 1px !important;	
}

.ui-fieldset .ui-datatable {
	margin: 20px 5px !important;	
}

.ui-fieldset .ui-button {
	margin: 5px 5px !important;
	
}

.ui-fieldset > .ui-fieldset-content > .ui.button {
	padding: 3px 2px !important;
}


.ui-panelgrid {
	width: 100%;
}

.ui-panelgrid .ui-panelgrid-cell {	
	margin: 5px 5px;
	padding: 5px 15px;	
	
}

.ui-panelgrid td {
	height: 30px;
}

.ui-selectmanycheckbox td {
	border-width: 0px !important;
	padding: 0px !important;
}

.ui-selectmanycheckbox td label {
	padding-right: 10px !important;
}


/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel {
	padding: 0.5em 0.2em !important;
}

.ui-tabs {
	padding: 0px !important;
	color: #333;
}

.ui-tabs .ui-tabs-nav {
	margin: -1px !important;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav {
	padding: 0px !important;
}

/* Customiza TabView - fim */

/* Customiza Dialog - inicio */

.ui-widget-overlay {	
	background: #333;
	opacity: 0.70 !important;		
}

.ui-dialog {
	top: 20% !important;	
	min-width: 300px !important;
	text-align: justify;
	font-family: FontAwesome, Tahoma, Arial, sans-serif !important;		
}

.ui-dialog .ui-dialog-title {
	font-weight: 500 !important;
}

.ui-dialog > .ui-dialog-content > .ui-button {
	font-size: 14px !important;
	padding: 4px 2px;
}

.ui-confirm-dialog {
	top: 25% !important;
	min-width: 300px !important;
	text-align: justify;
	font-family: FontAwesome, Tahoma, Arial, sans-serif !important;		
}

.ui-confirm-dialog .ui-icon-alert {
	background: none !important;
}

.ui-confirm-dialog > .ui-dialog-content > .ui-confirm-dialog-message {	
	font-family: FontAwesome, Tahoma, Arial, sans-serif !important;
	font-size: 16px !important;	
}

.ui-confirm-dialog > .ui-dialog-buttonpane > .ui-button {
	font-size: 14px !important;
	font-weight: 500 !important;
	padding: 3px 2px;
}


/* Customiza Dialog - fim */

.ui-state-disabled {
	opacity: .80 !important;
}


.ui-datalist, .ui-datalist-content {
	border: none !important;
}


/** Reflow **/

@media ( max-width:30em ){
	.ui-datatable-reflow thead th,.ui-datatable-reflow tfoot td{display:none;}
	.ui-datatable-reflow .ui-datatable-data td{text-align:left;display:block;border:0px none;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;clear:left;}
	.ui-datatable-reflow .ui-datatable-data td .ui-column-title{padding:.4em;min-width:30%;display:inline-block;margin:-.4em 1em -.4em -.4em;}
}