<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="titulo">#{cadastroNoticiaBean.editando ?
			'Edição de notícia' : 'Nova notícia'}</ui:define>

	<ui:define name="content">

		<f:metadata>			
			<o:viewParam name="noticia" value="#{cadastroNoticiaBean.noticia}"  />

			<f:viewAction action="#{cadastroNoticiaBean.inicializar()}" />
		</f:metadata>

		<h:form id="form" enctype="multipart/form-data">

			<p:growl autoUpdate="true" id="messages" />

			<h1 class="aw-page-title">#{cadastroNoticiaBean.editando ?
				'Editar' : 'Criar'}</h1>

			<p:panelGrid id="panelGrid" layout="grid" columns="1"
				style="margin-top: 20px; min-width: 50%; border: 0; border-box: 0;"
				columnClasses="ui-grid-col-12">

				<p:outputLabel value="Título:" for="titulo" />
				<p:inputText id="titulo"
					value="#{cadastroNoticiaBean.noticia.titulo}" />


				<p:textEditor widgetVar="txteditor"
					value="#{cadastroNoticiaBean.noticia.texto}" height="300"
					style="margin-bottom: 10px" />

				<p:outputLabel value="Autores:" for="usuario" />
				<h:panelGroup>
					<p:selectOneMenu id="usuario" filterMatchMode="contains"
						value="#{cadastroNoticiaBean.noticia.usuario}" effect="fade"
						effectSpeed="slow" converter="indexConverter">
						<f:selectItem itemLabel="Selecione" noSelectionOption="true"
							itemDisabled="true" />
						<f:selectItems value="#{cadastroNoticiaBean.usuarios}" var="_u"
							itemValue="#{_u}" itemLabel="#{_u}" />

					</p:selectOneMenu>
					<p:commandButton
						action="#{cadastroNoticiaBean.adicionarUsuarios()}"
						style="top: 0px"
						disabled="#{cadastroNoticiaBean.usuarios eq null}"
						icon="fa fa-plus" update="usuario" process="@this" />

				</h:panelGroup>


				<p:outputLabel value="Categoria:" for="categoria" />
				<p:selectOneMenu id="categoria"
					value="#{cadastroNoticiaBean.categoriaPai}"
					converter="indexConverter">
					<f:selectItem itemLabel="Selecione a categoria" />
					<f:selectItems value="#{cadastroNoticiaBean.categoriasRaizes}"
						var="_c" itemValue="#{_c}" itemLabel="#{_c.descricao}" />
					<p:ajax listener="#{cadastroNoticiaBean.carregarSubcategorias}"
						update="subcategoria" />
				</p:selectOneMenu>

				<p:outputLabel value="Subcategoria:" for="subcategoria" />
				<p:selectOneMenu id="subcategoria"
					value="#{cadastroNoticiaBean.noticia.categoria}"
					converter="indexConverter">
					<f:selectItem itemLabel="Selecione a subcategoria" />
					<f:selectItems value="#{cadastroNoticiaBean.subcategorias}"
						var="_s" itemValue="#{_s}" itemLabel="#{_s.descricao}" />
				</p:selectOneMenu>

				<p:outputLabel value="Autor:" for="autor" />
				<p:inputText id="autor" value="#{cadastroNoticiaBean.noticia.autor}" />


				<p:outputLabel />
				<h:panelGroup>
					<p:fileUpload fileUploadListener="#{cadastroNoticiaBean.upload}"
						previewWidth="10" auto="false" label="Escolher a foto"
						update="fotoPanelGroup" skinSimple="true" mode="advanced"
						allowTypes="/(\.|\/)(gif|jpe?g|jpg|png)$/"
						invalidFileMessage="São permitidas somente imagens (gif, jpeg, jpg e png)"
						fileLimit="50" dragDropSupport="true" sizeLimit="1024000"
						invalidSizeMessage="O tamanho máximo permitido é de 100KB."
						fileLimitMessage="Só é possível escolher apenas 1 foto."
						uploadLabel="Enviar" cancelLabel="Cancelar">


					</p:fileUpload>

					<h:panelGrid id="fotoPanelGroup">
						<p:graphicImage
							value="/imagem-servlet?nome=#{cadastroNoticiaBean.noticia.foto}"
							rendered="#{cadastroProdutoBean.produto.foto ne null}"
							width="200" id="foto" />

						<p:commandButton value="Remover Foto"
							actionListener="#{cadastroNoticiaBean.removerFoto}"
							rendered="#{cadastroNoticiaBean.noticia.foto ne null}"
							process="@this" update="fotoPanelGroup" />
					</h:panelGrid>
				</h:panelGroup>

				<h:panelGroup>
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroNoticiaBean.salvar()}" update="@form"
						process="@this :form:panelGrid" validateClient="false" />

					<p:commandButton value="Submit" update="display"
						oncomplete="PF('dlg').show()" icon="ui-icon-disk" />
					<p:commandButton value="Clear" type="button"
						onclick="PF('txteditor').clear();" icon="ui-icon-close" />
				</h:panelGroup>
			</p:panelGrid>

			<p:dialog header="Content" widgetVar="dlg" showEffect="fade"
				hideEffect="fade">
				<p:outputPanel id="display">
					<h3 style="margin-top: 0">Texto</h3>
					<h:outputText value="#{cadastroNoticiaBean.noticia.texto}"
						escape="false" />
				</p:outputPanel>
			</p:dialog>
		</h:form>

	</ui:define>
</ui:composition>

