<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="titulo"> Blog - 
		<h:outputText value="#{cadastroNoticiaBean.noticia.titulo}" rendered="#{cadastroNoticiaBean.noticia.titulo} ne null" />
	</ui:define>

	<ui:define name="content">

		<f:metadata>
			<o:viewParam name="noticia" value="#{cadastroNoticiaBean.noticia}" />

			<f:viewAction action="#{cadastroNoticiaBean.inicializar()}" />
		</f:metadata>

		<h:form id="form">

			<p:growl autoUpdate="true" id="messages" />

			<div class="ui-fluid">

				<h1 class="aw-page-title">
					<h:outputText value="#{cadastroNoticiaBean.noticia.titulo}" />
				</h1>

				<p:panelGrid columns="1" id="painel" layout="grid"
					style="width: 100%; margin-top: 20px"
					columnClasses="ui-grid-col-12">

					<p:outputPanel id="display">

						<p:graphicImage
							value="/imagem-servlet?nome=#{cadastroNoticiaBean.noticia.foto}"
							rendered="#{cadastroNoticiaBean.noticia.foto ne null}"
							width="200" />


						<h:outputText value="#{cadastroNoticiaBean.noticia.texto}"
							escape="false" />



					</p:outputPanel>
				</p:panelGrid>
			</div>
		</h:form>

	</ui:define>
</ui:composition>

