<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Seleção de cliente</title>

	<h:outputStylesheet library="ccti" name="styles/layout.css" />
	<h:outputStylesheet library="ccti" name="styles/custom.css" />
	<h:outputStylesheet library="ccti" name="styles/components.css" />
	<h:outputStylesheet library="ccti" name="styles/sistema.css" />
	<style>
body {
	margin: 10px;
	height: 100%;
}
</style>
</h:head>
<h:body>


	<h:form>
		 
		
		<div style="margin-top: 5px" class="ui-fluid">
			<p:inputText id="nome" size="40" value="#{selecaoClienteBean.nome}"
				placeholder="Nome do cliente" />

			<p:spacer width="10px" />
			<p:commandButton value="Pesquisar"
				action="#{selecaoClienteBean.pesquisar}" update="@form" />
		</div>

		<p:dataTable value="#{selecaoClienteBean.pessoasFiltrados}" styleClass="ui-corner-all"
			lazy="true" var="cliente" style="margin: 15px 1px 15px;" rowHover="true" reflow="true"
			rowKey="#{cliente.id}" emptyMessage="Nenhum cliente encontrado." 
			rows="10" paginator="true" paginatorAlwaysVisible="false"
			paginatorPosition="bottom" scrollRows="20" scrollWidth="400"
			scrollHeight="300" resizableColumns="true">

			<p:column width="100" style="text-align: center">
				<p:graphicImage url="/arquivo-servlet?nome=#{cliente.cpf}" styleClass="rounded-corner" 
					rendered="#{cliente.foto ne null}" width="80px" id="foto" />
			</p:column>
			<p:column headerText="Nome">
				<h:outputText value="#{cliente.nome}" />
			</p:column>
			<p:column headerText="CPF">
				<h:outputText value="#{cliente.cpf}" />
			</p:column>

			<p:column style="text-align: center" width="100">
				<p:commandButton icon="ui-icon-check" title="Selecionar"
					process="@this" action="#{selecaoClienteBean.selecionar(cliente)}" />
			</p:column>
		</p:dataTable>

	</h:form>

</h:body>
</html>