<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Seleção de produto</title>

	<h:outputStylesheet library="ccti" name="styles/layout.css" />
	<h:outputStylesheet library="ccti" name="styles/custom.css" />
	<h:outputStylesheet library="ccti" name="styles/components.css" />
	<h:outputStylesheet library="ccti" name="styles/sistema.css" />

	<style>
body {
	margin: 10px;
	height: 100%;
}
</style>
</h:head>
<h:body>

	<h:form>


		<div style="margin-top: 5px" class="ui-fluid">
			<p:inputText id="nome" size="40" value="#{selecaoProdutoBean.nome}"
				placeholder="Nome do produto" />

			<p:spacer width="10px" />
			<p:commandButton value="Pesquisar"
				action="#{selecaoProdutoBean.pesquisar}" update="@form" />
		</div>

			
		<p:dataTable value="#{selecaoProdutoBean.produtosFiltrados}"
			styleClass="ui-corner-all" var="produto" style="margin: 15px 1px 15px;"
			lazy="true" reflow="true" resizableColumns="true" scrollWidth="300" scrollHeight="300"
			emptyMessage="Nenhum produto encontrado." rows="10" paginator="true"
			paginatorAlwaysVisible="false" paginatorPosition="bottom"
			scrollRows="20" liveResize="true" 
			rowKey="#{produto.id}" rowHover="true">

			<p:column width="100" style="text-align: center">
				<p:graphicImage styleClass="rounded-corner"
					url="/imagem-servlet?nome=#{produto.foto}"
					rendered="#{produto.foto ne null}" width="80px" id="foto" />
			</p:column>

			<p:column headerText="Código" style="text-align: center; max-width: 20%">
				<h:outputText value="#{produto.codigo}" />
			</p:column>


			<p:column headerText="Nome">
				<h:outputText value="#{produto.nome} #{produto.descricao}" />
			</p:column>

			<p:column headerText="Preço" width="100">
				<h:outputText value="R$ #{produto.preco}">
					<f:convertNumber type="currency" />
				</h:outputText>
			</p:column>
			<p:column style="text-align: center" width="50">
				<p:commandButton icon="ui-icon-check" title="Selecionar"
					process="@this" action="#{selecaoProdutoBean.selecionar(produto)}" />
			</p:column>
		</p:dataTable>

	</h:form>

</h:body>
</html>