<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<ui:define name="titulo">#{cadastroUsuarioBean.editando ? 'Edição de usuario' : 'Novo usuario'}</ui:define>

	<ui:define name="content">

		<f:metadata>
			<o:viewParam name="usuario" value="#{cadastroUsuarioBean.usuario}" />
			<f:viewAction action="#{cadastroUsuarioBean.inicializar}" />
		</f:metadata>

		<h:form id="frm">

			<p:focus context="frm" />

			<h1 class="aw-page-title">#{cadastroUsuarioBean.editando ?
				'Edição de usuário' : 'Novo usuário'}</h1>

			<p:messages id="messages" autoUpdate="true" closable="true" />

			<p:toolbar>
				<p:toolbarGroup>
					<p:button value="Novo" outcome="/paginas/usuario/CadastroUsuario" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroUsuarioBean.salvar}" process="@form"
						update="@form" validateClient="true" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa"
						outcome="/paginas/usuario/PesquisaUsuarios" />
				</p:toolbarGroup>
			</p:toolbar>

			<div class="ui-fluid">
				<p:panelGrid columns="2" id="painel" layout="grid"
					style="width: 100%; margin-top: 20px"
					columnClasses="ui-grid-col-2,ui-grid-col-12">
					<p:outputLabel value="Nome" for="nome" />
					<p:inputText id="nome" size="60" maxlength="80"
						value="#{cadastroUsuarioBean.usuario.nome}" />

					<p:outputLabel value="E-mail" for="email" />
					<p:inputText id="email" size="60" placeholder="example@example.com"
						disabled="#{cadastroUsuarioBean.usuario.existente}"
						value="#{cadastroUsuarioBean.usuario.email}" />


					<p:outputLabel value="Senha:" for="senha" />
					<p:password id="senha" match="confirmasenha" feedback="false"
						weakLabel="Fraca" goodLabel="Boa" strongLabel="Ótima"
						validatorMessage="Senhas não conferem!"
						promptLabel="Digite a senha" placeholder="Digite a senha"
						inline="false" value="#{cadastroUsuarioBean.usuario.senha}"
						title="Informe a senha" maxlength="15" size="40" required="false" />

					<p:outputLabel value="Confirme:" for="confirmasenha" />
					<p:password id="confirmasenha" maxlength="15" size="40"
						title="Confirme a senha" feedback="false" weakLabel="Fraca"
						goodLabel="Boa" strongLabel="Ótima"
						placeholder="Digite a senha novamente"
						promptLabel="Confirme a senha" inline="false" required="false" />



				</p:panelGrid>
			</div>

			<p:spacer height="15px" />

			<p:tabView>
				<p:tab title="Grupos">
					<p:pickList value="#{cadastroUsuarioBean.listaGrupos}" var="grupo" style="width: 80%; height: 20%"
						itemValue="#{grupo}" itemLabel="#{grupo.descricao}" responsive="true"
						showSourceFilter="true" showTargetFilter="true"
						showCheckbox="true" filterMatchMode="contains"
						converter="grupoConverter">
						<f:facet name="sourceCaption">Grupos disponíveis</f:facet>
						<f:facet name="targetCaption">Grupos do usuário</f:facet>
					</p:pickList>
				</p:tab>
			</p:tabView>
		</h:form>
	</ui:define>
</ui:composition>