<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Pesquisa de usuarios</ui:define>

	<ui:define name="content">

		<h:form id="frmPesquisa">

			<h1 class="aw-page-title">Pesquisa de usuários</h1>

			<p:messages id="messages" autoUpdate="true" closable="true" />

			<p:toolbar>
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						action="#{pesquisaUsuariosBean.pesquisar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/paginas/usuario/CadastroUsuario" />
				</p:toolbarGroup>
			</p:toolbar>

			<div class="ui-fluid">
				<p:panelGrid columns="2" id="painel" layout="grid"
					style="width: 100%; margin-top: 20px"
					columnClasses="ui-grid-col-1,ui-grid-col-12">
					<p:outputLabel value="Nome" for="nome" />
					<p:inputText id="nome" size="40"
						value="#{pesquisaUsuariosBean.filtro.nome}" />
				</p:panelGrid>
			</div>

			<p:dataTable id="usuariosTable"
				value="#{pesquisaUsuariosBean.usuariosFiltrados}" var="usuario"
				style="margin-top: 20px" emptyMessage="Nenhum usuario encontrado."
				rows="6" sortBy="#{usuario.id}" paginator="true"
				draggableRows="true" paginatorAlwaysVisible="false"
				paginatorPosition="bottom" liveResize="true" resizableColumns="true"
				reflow="true" liveScroll="true">

				<p:column headerText="Código" width="80" sortBy="#{usuario.id}">
					<h:outputText value="#{usuario.id}" />
				</p:column>

				<p:column headerText="Nome">
					<h:outputText value="#{usuario.nome}" />
				</p:column>

				<p:column headerText="E-mail" >
					<h:outputText value="#{usuario.email}" />
				</p:column>

				<p:column headerText="Senha" style="min-width: 400px">
					<h:outputText value="#{usuario.senha}" />
				</p:column>

				<p:column headerText="Grupos">
					<h:outputText value="#{usuario.grupos}" />
				</p:column>

				<p:column width="100" style="text-align: center">
					<p:button outcome="/paginas/usuario/CadastroUsuario"
						icon="ui-icon-pencil" title="Editar">
						<f:param name="usuario" value="#{usuario.id}" />

					</p:button>

					<p:commandButton icon="ui-icon-trash" title="Excluir"
						oncomplete="PF('confirmacaoExclusao').show()" process="@this"
						update=":frmPesquisa:confirmacaoExclusaoDialog">
						<f:setPropertyActionListener
							target="#{pesquisaUsuariosBean.usuarioSelecionado}"
							value="#{usuario}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>


			<p:confirmDialog header="Exclusão de usuário" closeOnEscape="true" width="340" responsive="true"
				message="Tem certeza que deseja excluir o usuario #{pesquisaUsuariosBean.usuarioSelecionado.nome}?"
				widgetVar="confirmacaoExclusao" id="confirmacaoExclusaoDialog">

				<p:commandButton value="Sim"
					oncomplete="PF('confirmacaoExclusao').hide();"
					action="#{pesquisaUsuariosBean.excluir}" process="@this"
					update=":frmPesquisa:usuariosTable" id="yesButton" />
				<p:button value="Não"
					onclick="PF('confirmacaoExclusao').hide(); return false;" />
			</p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>