<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<ui:define name="titulo">#{cadastroCategoriaBean.editando ?
			'Edição de categoria' : 'Nova categoria'}</ui:define>

	<ui:define name="content">

		<f:metadata>
			<o:viewParam name="categoria"
				value="#{cadastroCategoriaBean.categoria}" />

			<f:viewAction action="#{cadastroCategoriaBean.inicializar()}" />
		</f:metadata>

		<h:form id="frm">

			<h1 class="aw-page-title">#{cadastroCategoriaBean.editando ?
				'Edição de categoria' : 'Nova categoria'}</h1>

			<p:messages id="messages" autoUpdate="true" closable="true" />

			<p:toolbar>
				<p:toolbarGroup>
					<p:button value="Novo"
						outcome="/paginas/categoria/CadastroCategoria" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroCategoriaBean.salvar()}" update="@form"
						process="@this panel" validateClient="false" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa"
						outcome="/paginas/categoria/PesquisaCategoria" />
				</p:toolbarGroup>
			</p:toolbar>

			<div class="ui-fluid">


				<p:panelGrid id="panel" columns="2" layout="grid"
					style="margin-top: 20px; min-width: 50%"
					columnClasses="ui-grid-col-2,ui-grid-col-12">

					<p:outputLabel value="Categoria:" for="descricao" />
					<p:inputText id="descricao"
						value="#{cadastroCategoriaBean.categoria.descricao}" />

					<p:outputLabel value="Categoria Pai:" for="categoriaPai" />

					<p:selectOneMenu id="categoriaPai" filter="true"
						filterMatchMode="contains" converter="indexConverter"
						value="#{cadastroCategoriaBean.categoria.categoriaPai}"
						title="Selecione a categoria pai">

						<f:selectItem itemLabel="Nenhuma" noSelectionOption="true"
							itemDisabled="true" />
						<f:selectItems value="#{cadastroCategoriaBean.categoriasRaizes}"
							var="_categoria" itemValue="#{_categoria}"
							itemLabel="#{_categoria.descricao}" />

					</p:selectOneMenu>

				</p:panelGrid>

			</div>

		</h:form>
	</ui:define>

</ui:composition>