<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Pesquisa de categoria</ui:define>

	<ui:define name="content">

		<h:form id="frmPesquisa">

			<h1 class="aw-page-title">Pesquisa de categoria</h1>

			<p:messages id="messages" autoUpdate="true" closable="true" />

			<p:toolbar>
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						action="#{pesquisaCategoriasBean.pesquisar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo"
						outcome="/paginas/categoria/CadastroCategoria" />
				</p:toolbarGroup>
			</p:toolbar>

			<div class="ui-fluid">
				<p:panelGrid columns="2" id="painel" layout="grid"
					style="margin-top: 20px; min-width: 50%"
					columnClasses="ui-grid-col-2,ui-grid-col-12">
					<p:outputLabel value="Descrição da categoria:" for="descricao" />
					<p:inputText id="descricao" size="20"
						value="#{pesquisaCategoriasBean.filtro.descricao}" />

				</p:panelGrid>

			</div>
			
			<p:dataTable id="categoriasTable"
				value="#{pesquisaCategoriasBean.categoriasFiltradas}"
				draggableRows="true" var="_categoria" style="margin-top: 20px"
				reflow="true" lazy="true" liveResize="true"
				emptyMessage="Nenhuma categoria encontrada." rows="20"
				paginator="true" paginatorAlwaysVisible="false"
				paginatorPosition="bottom">


				<p:column headerText="Subcategoria">
					<h:outputText value="#{_categoria.descricao}" />
				</p:column>
				<p:column headerText="Categoria Pai">
					<h:outputText value="#{_categoria.categoriaPai.descricao}" />
				</p:column>

				<p:column width="100" style="text-align: center">
					<p:button outcome="/paginas/categoria/CadastroCategoria"
						icon="ui-icon-pencil" title="Editar">
						<f:param name="categoria" value="#{_categoria.id}" />
					</p:button>
					<p:commandButton icon="ui-icon-trash" title="Excluir"
						oncomplete="PF('confirmacaoExclusao').show()" process="@this"
						update=":frmPesquisa:confirmacaoExclusaoDialog">
						<f:setPropertyActionListener
							target="#{pesquisaCategoriasBean.categoriaSelecionada}"
							value="#{_categoria}" />

					</p:commandButton>
				</p:column>

			</p:dataTable>


			<p:confirmDialog header="Exclusão de categoria" closeOnEscape="true" width="340" responsive="true"
				message="Tem certeza que deseja excluir a categoria #{pesquisaCategoriasBean.categoriaSelecionada.descricao}?"
				widgetVar="confirmacaoExclusao" id="confirmacaoExclusaoDialog">
				
				<p:commandButton value="Sim"
					oncomplete="PF('confirmacaoExclusao').hide();"
					action="#{pesquisaCategoriasBean.excluir}" process="@this"
					update=":frmPesquisa:categoriasTable" id="yesButton" />
					<p:button value="Não"
					onclick="PF('confirmacaoExclusao').hide(); return false;" />
			</p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>