<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<ui:define name="titulo">#{cadastroClienteBean.editando ? 'Edição de cliente' : 'Novo cliente'}</ui:define>

	<ui:define name="content">

		<f:metadata>
			<o:viewParam name="cliente" value="#{cadastroClienteBean.pessoa}" />
			<f:viewAction action="#{cadastroClienteBean.inicializar}" />
		</f:metadata>

		<h:form id="frm" enctype="multipart/form-data">

			<p:focus context="frm" />

			<h1 class="aw-page-title">#{cadastroClienteBean.editando ?
				'Edição de cliente' : 'Novo cliente'}</h1>

			<p:messages id="messages" autoUpdate="true" closable="true" />

			<p:toolbar>
				<p:toolbarGroup>
					<p:button value="Novo" outcome="/paginas/cliente/CadastroCliente" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroClienteBean.salvar()}" process="@form"
						update="@form" validateClient="true" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa"
						outcome="/paginas/cliente/PesquisaCliente" />
				</p:toolbarGroup>
			</p:toolbar>

			<div class="ui-fluid">
				<p:panelGrid columns="2" id="panel" style="margin-top: 20px; width: 100%" layout="grid"
					columnClasses="ui-grid-col-1,ui-grid-col-12">
					<p:outputLabel value="Nome" for="nome" />
					<p:inputText type="text" id="nome" size="60" maxlength="80"
						value="#{cadastroClienteBean.pessoa.nome}" />

					<p:outputLabel value="CPF" for="cpf" />
					<p:inputMask id="cpf" size="14" maxlength="14" autoClear="false"
						mask="#{cadastroClienteBean.pessoa.tipo.mascara}"
						disabled="#{cadastroClienteBean.editando}" converter="cpfCnpjMask"
						value="#{cadastroClienteBean.pessoa.cpf}">
						<f:validateBean
							validationGroups="#{cadastroClienteBean.pessoa.tipo.grupoValidacao}" />
					</p:inputMask>

					<p:outputLabel value="E-mail" for="email" />
					<p:inputText type="email" id="email"
						disabled="#{cadastroClienteBean.pessoa.existente}"
						value="#{cadastroClienteBean.pessoa.usuario.email}" />

					<p:outputLabel value="Senha" for="senha" />
					<p:password id="senha" match="confirmasenha" feedback="false"
						weakLabel="Fraca" goodLabel="Boa" strongLabel="Ótima"
						validatorMessage="Erro: Senhas não conferem!"
						promptLabel="Digite a senha" placeholder="Digite a senha"
						inline="false" redisplay="#{cadastroClienteBean.pessoa.novo}"
						value="#{cadastroClienteBean.pessoa.usuario.senha}"
						title="Informe a senha" maxlength="15" size="40" required="false" />

					<p:outputLabel value="Confirme a senha" for="confirmasenha" />
					<p:password id="confirmasenha" maxlength="15" size="40"
						title="Confirme a senha" feedback="false" weakLabel="Fraca"
						goodLabel="Boa" strongLabel="Ótima"
						placeholder="Digite a senha novamente"
						promptLabel="Confirme a senha" inline="false" required="false" />

					<p:outputLabel for="fileUpload" />
					<h:panelGroup>
						<p:fileUpload value="#{cadastroClienteBean.uploadedFile}"  
							label="Escolher" id="fileUpload" mode="advanced" skinSimple="true"
							auto="false" uploadLabel="Enviar" cancelLabel="Cancelar" sizeLimit="1024000"
							fileUploadListener="#{cadastroClienteBean.upload}"
							update="fotoPanelGroup" />
						<p:commandButton value="Enviar" ajax="false" update="@none"
							actionListener="#{cadastroClienteBean.upload}" rendered="false" />
						<h:panelGrid id="fotoPanelGroup">
							<p:graphicImage url="/arquivo-servlet?nome=#{cadastroClienteBean.pessoa.cpf}"
								rendered="#{cadastroClienteBean.pessoa.foto ne null}"
								width="200px" id="foto" />
						</h:panelGrid>
					</h:panelGroup>


				</p:panelGrid>
			</div>

		</h:form>
	</ui:define>
</ui:composition>