<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Pesquisa de cliente</ui:define>

	<ui:define name="content">

		<h:form id="frmPesquisa">

			<h1 class="aw-page-title">Pesquisa de cliente</h1>

			<p:messages id="messages" autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						action="#{pesquisaClientesBean.pesquisar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/paginas/cliente/CadastroCliente" />
				</p:toolbarGroup>
			</p:toolbar>

			<div class="ui-fluid">
				<p:panelGrid columns="2" id="painel" layout="grid"
					style="width: 100%; margin-top: 20px"
					columnClasses="ui-grid-col-1,ui-grid-col-12">
					<p:outputLabel value="CPF" for="cpf" />
					<p:inputText id="cpf" size="20"
						value="#{pesquisaClientesBean.filtro.cpf}" />

					<p:outputLabel value="Nome" for="nome" />
					<p:inputText id="nome" size="60"
						value="#{pesquisaClientesBean.filtro.nome}" />
				</p:panelGrid>
			</div>
			<p:dataTable id="clientesTable" styleClass="ui-corner-all"
				resizableColumns="true"
				value="#{pesquisaClientesBean.pessoasFiltrados}" var="_cliente"
				style="margin-top: 20px" emptyMessage="Nenhum cliente encontrado."
				lazy="true" rows="20" paginator="true" draggableRows="true"
				paginatorAlwaysVisible="false" reflow="true" liveResize="true"
				paginatorPosition="bottom" rowHover="true" rowKey="#{_cliente.id}"
				rowSelectMode="checkbox">

				<p:column width="100">
					<p:graphicImage styleClass="rounded-corner"
						url="/arquivo-servlet?nome=#{_cliente.cpf}" style=""
						rendered="#{_cliente.foto ne null}" width="80px" id="foto" />
				</p:column>

				<p:column headerText="CPF">
					<h:outputText value="#{_cliente.cpf}" converter="cpfCnpjMask" />
				</p:column>

				<p:column headerText="Nome">
					<h:outputText value="#{_cliente.nome}" />
				</p:column>

				<p:column headerText="E-mail">
					<h:outputText value="#{_cliente.usuario.email}" />
				</p:column>

				<p:column headerText="Tipo">
					<h:outputText value="PESSOA #{_cliente.tipo}" converter="cpfCnpjMask" />
				</p:column>

				<p:column width="100" style="text-align: center">
					<p:button outcome="/paginas/cliente/CadastroCliente"
						icon="ui-icon-pencil" title="Editar">
						<f:param name="cliente" value="#{_cliente.id}" />
					</p:button>
					<p:commandButton icon="ui-icon-trash" title="Excluir"
						oncomplete="PF('confirmacaoExclusao').show()" process="@this"
						update=":frmPesquisa:confirmacaoExclusaoDialog">
						<f:setPropertyActionListener
							target="#{pesquisaClientesBean.pessoaSelecionado}"
							value="#{_cliente}" />
					</p:commandButton>
				</p:column>

			</p:dataTable>

			<p:confirmDialog header="Exclusão de cliente" closeOnEscape="true" width="340" responsive="true"
				message="Tem certeza que deseja excluir o cliente #{pesquisaClientesBean.pessoaSelecionado.nome}?"
				widgetVar="confirmacaoExclusao" id="confirmacaoExclusaoDialog">

				<p:commandButton value="Sim"
					oncomplete="PF('confirmacaoExclusao').hide();"
					action="#{pesquisaClientesBean.excluir}" process="@this"
					update=":frmPesquisa:clientesTable" id="yesButton" />
				<p:button value="Não"
					onclick="PF('confirmacaoExclusao').hide(); return false;" />
			</p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>