<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:o="http://omnifaces.org/ui"
	xmlns:stella="http://stella.caelum.com.br/faces2">

	<f:metadata>
		<o:viewParam name="grupo" value="#{grupoController.grupo}"
			converter="indexConverter" />
		<f:event listener="#{grupoController.init()}" type="preRenderView" />
	</f:metadata>

	<ui:define name="titulo">#{grupoController.editando ? "Edição de grupo" : "Novo grupo"}</ui:define>

	<ui:define name="content">

		<!-- FORMULARIO DE CADASTRO -->
		<h:form id="frm1">
			<h2>Cadastro de Grupos</h2>

			<p:fieldset style="clear:both;">
				<div class="ui-fluid ui-responsive">

					<p:panelGrid columns="2" id="panelGrid"
						columnClasses="ui-grid-col-2,ui-grid-col-4" layout="grid"
						style="width: 100%;"
						styleClass="ui-panelgrid-blank ui-grid ui-grid-responsive">

						<p:outputLabel value="Nome:" for="nome" />
						<p:inputText id="nome" value="#{grupoController.grupo.nome}"
							title="Informe o nome do grupo"
							placeholder="Digite o nome do grupo" maxlength="50" size="40"
							required="false">

							<p:focus />
						</p:inputText>

						<p:outputLabel value="Descrição:" for="descricao" />
						<p:inputText id="descricao"
							value="#{grupoController.grupo.descricao}"
							title="Informe a descricao do grupo"
							placeholder="Digite a descrição do grupo" maxlength="100"
							size="40" required="false">

							<p:focus />
						</p:inputText>

						<p:outputLabel value="Usuários:" for="usuarios" />

						<p:pickList id="usuarios" effect="drop" effectSpeed="slow"
							orientation="horizontal" responsive="true"
							filterMatchMode="contains" converter="usuarioConverter"
							value="#{grupoController.usuariosSelecionados}" var="_u"
							itemValue="#{_u}" itemLabel="#{_u}" addAllLabel="Adicionar todos"
							addLabel="Adicionar usuário" removeAllLabel="Remover todos"
							removeLabel="Remover usuário">

							<f:facet name="sourceCaption">Disponíveis</f:facet>
							<f:facet name="targetCaption">Selecionados</f:facet>


						</p:pickList>

					</p:panelGrid>
					<p:panelGrid id="panelButton" columns="3"
						columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2"
						layout="grid"
						styleClass="ui-panelgrid-blank ui-grid ui-grid-responsive">

						<p:outputLabel />

						<p:commandButton value="Salvar" title="Salvar" icon="fa fa-check"
							style="min-width: 100px" action="#{grupoController.salvar()}"
							validateClient="true" update="@form messages" />


						<p:commandButton value="Cancelar" title="Cancelar"
							icon="fa fa-trash" style="min-width: 120px"
							action="#{grupoController.limpar()}" resetValues="true" update="messages" />
 
					</p:panelGrid>
				</div>
			</p:fieldset>
		</h:form>

	</ui:define>
</ui:composition>