<ui:composition template="/WEB-INF/template/Layout.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">Pesquisa de usuarios</ui:define>
    
    <ui:define name="content">
    	<h:form id="frmPesquisa">
	    	<h1>Pesquisa de usuários</h1>
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar" action="#{pesquisaUsuariosBean.pesquisar}"
	    				update="@form" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Novo" outcome="/usuarios/CadastroUsuario" />
	    		</p:toolbarGroup>
	    	</p:toolbar>
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">	    		
	    		<p:outputLabel value="Nome" for="nome"/>
	    		<p:inputText id="nome" size="60" value="#{pesquisaUsuariosBean.filtro.nome}" />
	    	</p:panelGrid>
	    	
	    	<p:dataTable id="usuariosTable" value="#{pesquisaUsuariosBean.usuariosFiltrados}" var="usuario"
	    		style="margin-top: 20px" emptyMessage="Nenhum usuario encontrado." rows="20" draggableRows="true"
	    		paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
	    		<p:column headerText="Nome">
	    			<h:outputText value="#{usuario.nome}" />
	    		</p:column>
	    		
	    		<p:column style="width: 100px; text-align: center">
	    			<p:button outcome="/usuarios/CadastroUsuario" icon="ui-icon-pencil" title="Editar">
	    				<f:param name="usuario" value="#{usuario.id}" />
	    			</p:button>
	    			
	    			<p:commandButton icon="ui-icon-trash" title="Excluir" oncomplete="PF('confirmacaoExclusao').show()"
	    					process="@this" update=":frmPesquisa:confirmacaoExclusaoDialog">
	    				<f:setPropertyActionListener target="#{pesquisaUsuariosBean.usuarioSelecionado}" 
	    					value="#{usuario}" />
	    			</p:commandButton>
	    		</p:column>
	    	</p:dataTable>
	    	
	    	<p:confirmDialog header="Exclusão de usuário"  closeOnEscape="true" width="340" responsive="true"
	    		message="Tem certeza que deseja excluir o usuario #{pesquisaUsuariosBean.usuarioSelecionado.nome}?"
	    		widgetVar="confirmacaoExclusao"	id="confirmacaoExclusaoDialog">
	    		<p:button value="Não" onclick="PF('confirmacaoExclusao').hide(); return false;" />
	    		<p:commandButton value="Sim" oncomplete="PF('confirmacaoExclusao').hide();"
	    			action="#{pesquisaUsuariosBean.excluir}" process="@this"
	    			update=":frmPesquisa:usuariosTable" id="yesButton" />
	    	</p:confirmDialog>
    	</h:form>
    </ui:define>
</ui:composition>