<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<ui:define name="titulo">#{cadastroClienteBean.editando ? 'Edição de cliente' : 'Novo cliente'}</ui:define>

	<ui:define name="content">

		<f:metadata>
			<o:viewParam name="cliente" value="#{cadastroClienteBean.cliente}" />
			<f:viewAction action="#{cadastroClienteBean.inicializar}" />
		</f:metadata>

		<h:form id="frm">

			<p:focus context="frm" />

			<h1 class="aw-page-title">Sign Up</h1>

			<p:messages id="messages" autoUpdate="true" closable="true" />

			<p:toolbar>
				<p:toolbarGroup>
					<p:button value="Voltar"
						outcome="/Login" />					
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
				<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroClienteBean.salvar()}" process="@form" update="@form"
						validateClient="true"   />			
				</p:toolbarGroup>
			</p:toolbar>

			<div class="ui-fluid">
				<p:panelGrid columns="2" id="panel" style="margin-top: 20px; min-width: 70%"
					columnClasses="ui-grid-col-2,ui-grid-col-12" layout="grid">
					<p:outputLabel value="Nome" for="nome" />
					<p:inputText type="text" id="nome" size="60" maxlength="80"
						value="#{cadastroClienteBean.cliente.nome}"  />

					<p:outputLabel value="CPF" for="cpf" />
					<p:inputMask id="cpf" size="14" maxlength="14"
						mask="#{cadastroClienteBean.cliente.tipo.mascara}" disabled="#{cadastroClienteBean.editando}"
						converter="cpfCnpjMask" value="#{cadastroClienteBean.cliente.cpf}">
						<f:validateBean
							validationGroups="#{cadastroClienteBean.cliente.tipo.grupoValidacao}" />
					</p:inputMask>
					
					<p:outputLabel value="E-mail" for="email" />
					<p:inputText type="email" id="email" placeholder="example@example.com" value="#{cadastroClienteBean.cliente.usuario.email}" />

					<p:outputLabel value="Senha" for="senha" />
					<p:password id="senha" match="confirmasenha" feedback="false"
						weakLabel="Fraca" goodLabel="Boa" strongLabel="Ótima"
						validatorMessage="Erro: Senhas não conferem!"
						promptLabel="Digite a senha" placeholder="Digite a senha"
						inline="false" value="#{cadastroClienteBean.cliente.usuario.senha}"
						title="Informe a senha" maxlength="15" size="40" required="false" />

					<p:outputLabel value="Confirme a senha" for="confirmasenha" />
					<p:password id="confirmasenha" maxlength="15" size="40"
						title="Confirme a senha" feedback="false" weakLabel="Fraca"
						goodLabel="Boa" strongLabel="Ótima"
						placeholder="Digite a senha novamente"
						promptLabel="Confirme a senha" inline="false" required="false" />

					
				</p:panelGrid>
			</div>

		</h:form>
	</ui:define>
</ui:composition>