<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<ui:define name="titulo">Redefinir Senha</ui:define>

	<ui:define name="content">

		<f:metadata>
			<o:viewParam name="usuario" value="#{cadastroUsuarioBean.usuario}" />
			<f:viewAction action="#{cadastroUsuarioBean.inicializar}" />
		</f:metadata>

		<h:form id="frm">

			<p:focus context="frm" />

			<h1 class="aw-page-title">Redefinir Senha</h1>

			<p:messages id="messages" autoUpdate="true" closable="true" />

			<div class="ui-fluid">
				<p:panelGrid columns="2" id="panel" style="margin: 0 auto; width: 100%"
					columnClasses="ui-grid-col-2,ui-grid-col-8" layout="grid">				
					
					<p:outputLabel value="E-mail: " for="email" />
					<p:inputText type="email" id="email" placeholder="example@example.com" value="#{cadastroUsuarioBean.usuario.email}" size="50" maxlength="50" />

					
				</p:panelGrid>
			</div>

		</h:form>
	</ui:define>
</ui:composition>