<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Acesso negado</ui:define>
	
	<ui:define name="content">
		<h1 class="aw-page-title">Você não possui permissão para acessar esta página.</h1>
	</ui:define>
	
</ui:composition>