<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="titulo">Minha Conta</ui:define>

	<ui:define name="content">
		<div class="ui-fluid" />
		<h:form>
			<h1 class="aw-page-title">Minha Conta</h1>
			<p:panel>

				<h:panelGrid id="fotoPanelGroup">
					<p:graphicImage
						url="/arquivo-servlet?nome=#{usuarioLogado.usuario.cliente.cpf}"
						rendered="#{usuarioLogado.usuario.cliente.foto ne null}"
						width="200px" id="foto" />
				</h:panelGrid>

				<p:outputLabel value="#{usuarioLogado.usuario.nome}: " />
				<p:outputLabel value="#{usuarioLogado.authorities}" />
				<br />
				<br />

				<h1 class="aw-page-title"
					style="font-size: 14em; text-align: center">:)</h1>

			</p:panel>

		</h:form>

	</ui:define>
</ui:composition>
