<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="titulo">News Feed</ui:define>

	<ui:define name="content">

		<f:metadata>
			<o:viewParam name="filtro"
				value="#{pesquisaNoticiasBean.noticiaSelecionada}" />

			<f:viewAction action="#{pesquisaNoticiasBean.inicializar()}" />
		</f:metadata>

		<h:form id="form">

			<h1 class="aw-page-title">eeeeerrrrrr</h1>

			<ui:repeat var="feed" value="#{pesquisaNoticiasBean.feed}">

				<div class="ui-fluid">
					<p:fieldset style="width:100%;">

						<p:graphicImage value="/imagem-servlet?nome=#{feed.foto}"
							rendered="#{cadastroProdutoBean.produto.foto ne null}"
							width="200" id="foto" />

						<h:link outcome="/paginas/noticia/Noticia" styleClass="h1"
							style="font-size: 2em" icon="fa fa-star" title="#{feed.titulo}">
							<f:param name="noticia" value="#{feed.id}" />
									#{feed.titulo}
						</h:link>


						<h:outputText value="#{feed.texto}"
							style="font-weight: bold; width: 95%" escape="false" />

					</p:fieldset>

					<p:separator />

					<p:outputPanel>
						<p:button outcome="/paginas/noticia/CadastroNoticia"
							icon="fa fa-pencil" title="Editar">
							<f:param name="noticia" value="#{feed.id}" />
						</p:button>

						<h5 style="font-style: italic;">
							Editado por #{feed.autor} em
							<h:outputText value="#{feed.dataModificacao}">
								<f:convertDateTime pattern="dd/MM/yyyy"
									timeZone="America/Boa_Vista" />
							</h:outputText>
							às
							<h:outputText value="#{feed.dataModificacao}">
								<f:convertDateTime pattern="HH:mm" timeZone="America/Boa_Vista" />
							</h:outputText>
						</h5>


					</p:outputPanel>
				</div>
			</ui:repeat>


			<p:dialog header="Info" widgetVar="feedDialog" modal="true"
				showEffect="blind" hideEffect="fade" resizable="false">
				<p:outputPanel id="feedDetail" style="text-align:center;">
				</p:outputPanel>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>

