<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="titulo">Página Inicial</ui:define>

	<ui:define name="content">
		<div class="ui-fluid">
			<h:form>

				<h1 class="aw-page-title" style="font-size: 2em; text-align: center">meh</h1>

				<p:panelGrid style="width: 100%; text-align: center; margin: 0 auto">
					<center>
						<p:graphicImage library="ccti" name="images/background.png" />
					</center>

				</p:panelGrid>

			</h:form>
		</div>
	</ui:define>
</ui:composition>
