<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</f:facet>

	<title><ui:insert name="titulo">Entrar</ui:insert></title>

	<h:outputStylesheet library="ccti" name="styles/sistema.css" />
	<h:outputStylesheet library="ccti" name="styles/custom.css" />
	<h:outputStylesheet library="ccti" name="styles/layout.css" />
	<h:outputStylesheet library="ccti" name="styles/components.css" />

	<h:outputScript target="body" library="ccti" name="javascripts/app.js" />

	<h:outputScript target="body" library="primefaces"
		name="jquery/jquery.js" />

</h:head>
<h:body>

	<f:metadata>
		<f:viewParam name="dummy" />
		<f:event listener="#{loginBean.preRender}" type="preRenderView" />
	</f:metadata>

	<header class="aw-topbar">
		<h:graphicImage library="ccti" name="images/logo.png" height="30"
			onclick="document.location.href='//'" />

		<div style="float: right; margin-right: 10px">
			<p:outputPanel
				style="float: left; height: 50px; line-height: 50px; margin-right: 30px; color: #fff; text-decoration: none">

				<h:link style="color: #fff; text-decoration: none"
					value="Cadastrar-se" outcome="/paginas/registration/Cadastro" />
			</p:outputPanel>
		</div>
	</header>

	<section class="aw-content js-content">
		<div id="login-dialog" class="ui-fluid">

			<h:form id="frm" prependId="false">

				<p:growl id="messages" autoUpdate="true" closable="true"
					showDetail="false" />

				<h:panelGrid columns="2" styleClass="grid-login">
					<p:outputLabel />
					<p:inputText size="30" id="username" value="#{loginBean.email}"
						placeholder="E-mail" required="true"
						requiredMessage="Informe o e-mail">
						<p:focus />
					</p:inputText>
					<p:outputLabel />
					<p:password size="30" id="password" placeholder="Senha"
						required="true" requiredMessage="Informe a senha" />

					<h:panelGroup />
					<h:panelGroup>
						<p:commandButton value="Login" action="#{loginBean.login}"
							ajax="false" validateClient="true" />
						<p:button value="Esqueceu a senha?"
							outcome="/paginas/registration/Redefinir" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</div>
	</section>

	<section class="aw-footer js-content">
		<footer>
			<p:separator style="margin: 20px 20px; display: block" />
			<h4 style="text-align: right">
				<i class="fa fa-registered" /> 2018 CCTI. All rights reserved.
			</h4>
		</footer>
	</section>

</h:body>
</html>